{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block header %}
<header class="main-header post-head {%if image%}" style="background-image: url({{image}}){% else %}no-cover{% endif %}">
    <nav class="main-nav {%if image%}overlay{%endif%} clearfix">
        <a class="back-button icon-arrow-left" href="{{site_url}}">Home</a>
    </nav>
</header>
{% endblock %}
{% block content %}
<main class="content" role="main">
    <article class="post">
        <header class="post-header">
            <h1 class="post-title">{{title}}</h1>
            <section class="post-meta">
            <time class="post-date" datetime="{{datetime}}">{{datetime}}</time>
            {%if tags%}&nbsp;on&nbsp;{%for tag in tags %}<a href="{{tag.url}}">{{tag.name}}</a>&nbsp;{%endfor%}{%endif%}
            </section>
        </header>
        <section class="post-content">{{content}}</section>
        <footer class="post-footer">
            {% if author.image %}
            <figure class="author-image">
                <a class="img" href="{{author.url}}" style="background-image: url({{author.image}})"><span class="hidden">{{author.name}}'s Picture</span></a>
            </figure>
            {% endif %}
            <section class="author">
                <h4><a href="{{author.url}}">{{author.name}}</a></h4>

                {%if author.bio%}
                    <p>{{author.bio}}</p>
                {% else %}
                    <p>Read <a href="{{author.url}}">more posts</a> by this author.</p>
                {% endif %}

                <div class="author-meta">
                    {% if author.location %}
                        <span class="author-location icon-location">{{author.location}}</span>
                    {% endif %}
                    {% if author.website %}
                        <span class="author-link icon-link"><a href="{{author.website}}">{{author.website}}</a></span>
                    {% endif %}
                </div>
            </section>
        </footer>
    </article>
    <nav class="pagination" role="navigation">
        <a class="newer-posts" href="{{previous_url}}">← Newer Posts</a>
        <a class="older-posts" href="{{next_url}}}">Older Posts →</a>
    </nav>
</main>
{% endblock %}